@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -webkit-opacity: 0;
  }
  50% {
    -webkit-opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.1, 0.1);
    -moz-opacity: 0;
  }
  50% {
    -moz-opacity: 0.7;
  }
  100% {
    -moz-transform: scale(1.2, 1.2);
    -moz-opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    -o-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    -o-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
