@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    -webkit-opacity: 0;
  }
  50% {
    -webkit-opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    -webkit-opacity: 0;
  }
}
@-moz-keyframes pulsate {
  0% {
    -moz-transform: scale(0.1, 0.1);
    -moz-opacity: 0;
  }
  50% {
    -moz-opacity: 0.7;
  }
  100% {
    -moz-transform: scale(1.2, 1.2);
    -moz-opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    -o-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    -o-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
section {
  margin: 0 auto;
  height: 300px;
  width: 600px;
}
a.csspoi {
  position: absolute;
  top: 15%;
  left: 50%;
}
a.csspoi {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  width: 100px;
  height: 100px;
}
a.csspoi span.circle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #e5f5ff;
  background: -moz-radial-gradient(center, ellipse cover, #e5f5ff 0%, #d4ecfb 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #e5f5ff), color-stop(100%, #d4ecfb));
  background: -webkit-radial-gradient(center, ellipse cover, #e5f5ff 0%, #d4ecfb 100%);
  background: -o-radial-gradient(center, ellipse cover, #e5f5ff 0%, #d4ecfb 100%);
  background: -ms-radial-gradient(center, ellipse cover, #e5f5ff 0%, #d4ecfb 100%);
  background: radial-gradient(ellipse at center, #e5f5ff 0%, #d4ecfb 100%);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border: 2px solid #25a4df;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-animation: pulsate 2s ease-out;
  -moz-animation: pulsate 2s ease-out;
  -ms-animation: pulsate 2s ease-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}
a.csspoi span.circle:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  content: '';
  width: 80%;
  height: 80%;
  margin: 10%;
  border: 2px solid #abdded;
}
a.csspoi span.dot {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  top: 0px;
  content: '';
  width: 15%;
  height: 15%;
  margin: 43%;
  background: #25a4df;
}
